html {

}
body {
    font-family: 'Aleo', serif;
    font-family: 'Magra', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
}
:root {
    --header-bg-color: rgba(242, 120, 92, 0.7);
    --text-light: #FFFFFF;
    --color-text-brand: #F2785C;
    --color-text-story: #0D606F;
    --buttom-color: #0D606F;
    --ico-bg-color: #F2785C;


    --content-width: 1440px;
    --tanlet-width: 768px;
    --mobile-big-width: 414px;
    --mobile-small-width: 414px;
}
.wrapper {
    max-width: var(--content-width);
    margin: auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}



h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}
/* header */

.header {
}
.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 25px 0 24px 0;
}
.logo {
    margin: 0 0 0 120px;
}
.header-navigation {
    display: flex;
} 
.header-inf {
    list-style: none;
    padding: 0 21px 0 21px;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-light);
}

.login-botton {
    padding: 10px 30px 10px;
    margin-right: 120px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-light);
    border-radius: 10px;
    background: var(--buttom-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
}

/* header */
/* main */

.plan-your-trip {
    display: flex;
    align-items: center;
    padding-top: 32px;
    margin: 0 0 0 120px;

}
.pyt-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin-right: 428px;
    margin-left: 120px;
    max-width: 892px;
}
.pyt-explore1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: var(--text-light);
}
.pyt-explore2 {
    margin-right: 169px;
    margin-top: 32px;
    margin-bottom: 46px;
    color: var(--text-light);
}
.search {
    display: flex;
    max-width: 892px;
    background: rgba(255, 255, 255, 0.7);;
    border-radius: 16px;
    margin-bottom: 33px;
}
.search-inf {
    margin: 32px 280px 32px 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-text-brand);
    
}
.search-button {
}
.search-botton-inf {
    margin: 18px 18px 18px 45px;
    padding: 12.5px 32.5px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-light);
    border-radius: 10px;
    background: var(--buttom-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    cursor: pointer;
}


.step3-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 301px;
    margin-left: 132px;
    margin-right: 132px;  

}
.step3-inf {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: var(--color-text-brand);
    margin-left: 283px;
    margin-right: 283px;  
}
.step3-icons {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.frame24 {
    margin-left: 131px;
}
.vector28 {
    margin-left: calc(50% - 100px/2);
    margin-right: calc(50% - 100px/2);
}
.vector28-inf {
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-story);
}
.frame25 {
    margin-left: 231px;
}
.vector11 {
    margin-left: calc(50% - 100px/2);
    margin-right: calc(50% - 100px/2);
}
.vector11-inf {
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-story);
}
.frame26 {
    margin-left: 160px;
    margin-right: 132px;
}
.vector12 {
    padding-left: calc(50% - 100px/2);
    padding-right: calc(50% - 100px/2); 
}
.vector12-inf {
    margin-top: 30px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-story);
}


.destination-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 97px;
    margin-left: 120px;
    margin-right: 120px;
}
.destination-inf {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: var(--color-text-brand);
    margin-left: 10px;
    margin-bottom: 46px;
}
.destination-img-text {
    display: table;
}
.destination1 {
    padding-right: 60px;
}
.destination2 {
    padding-right: 60px;
}
.destination3 {

}
.destination1-img {
    border-radius: 16px;
}
.destination2-img {
    border-radius: 16px;  
}
.destination3-img {
    border-radius: 16px;
}

.eclips-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 24px;
    gap: 10px;
}
.eclips1{
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 10px;
}
.eclips2 {
    width: 20px;
    height: 20px;
    background: #F2785C;
    border-radius: 10px;
}
.eclips3 {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 10px;
}
.findmore-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-top: 40px;
}
.findmore-vector {
    cursor: pointer;
    margin: 9px 0 9px 31px;
}
.findmore-button-text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-light);
    margin: 13px 31px 13px 10px;
    cursor: pointer;
    background: var(--buttom-color);
}
.stories-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
.stories-inf {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: var(--color-text-brand);
    margin-top: 80px;
}
.stories-bloks {

}
.story1 {
    display: flex;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
}
.story1text {
    margin-left: 40px;
}
.story1-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: var(--color-text-story);
}
.story1-bigtext {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-story);
}
.story1-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}
.story2 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
}
.story2text {
    margin-left: 40px; 
}
.story2-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px; 
    color: var(--color-text-story);   
}
.story2-bigtext {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;   
    color: var(--color-text-story);
}
.story2-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}
.story3 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 30px;
}
.story3text {
    margin-left: 40px;  
}
.story3-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;   
    color: var(--color-text-story);
}
.story3-bigtext {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;   
    color: var(--color-text-story);
}
.story3-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}
.story4 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.story4text {
    margin-left: 40px; 
}
.story4-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;  
    color: var(--color-text-story);
}
.story4-bigtext {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    color: var(--color-text-story);
}
.story4-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}
.seemore-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;    
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    background: #0D606F;
    margin-top: 40px;
}
.seemore-text {
    cursor: pointer;
    padding: 13px 31px 13px 10px;
    background: #0D606F;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    border-radius: 10px;
    color: var(--text-light);
}
.seemore-vector {
    margin: 9px 0px 9px 31px;
    cursor: pointer;
}


/* main */

/* footer */
.footer-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 400px;
    margin-right: 121px;
}
.travleportal {
    margin-top: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--text-light);
}
.socialmedia {
    display: flex;
    margin-left: 328px;
}
.icon-inst {
    margin-right: 20px;
}
.icon-yt {
    margin-right: 20px;
}
.icon-twitter {

}


/* footer */


/* bg */

.garret-park {
    display: flex;
    align-items: center;
    margin: 0 0 0 120px;
    position: absolute;
    width: 1440px;
    height: 765px;
    left: 0px;
    top: 0px;
    
    background: url(./img/bg/garrett-parker-DlkF4-dbCOU-unsplash\ 1\ \(1\).jpg);
    z-index: -11;
}
.white-bg {
    display: flex;
    align-items: center;
    margin: 0 0 0 120px;
    position: absolute;
    width: 1445px;
    height: 1270px;
    left: 0px;
    top: 2404px;
    
    background: rgba(255, 255, 255, 0.5);
    z-index: -11;
}
.rectangle27 {
    display: flex;
    align-items: center;
    margin: 0 0 0 120px;
    position: absolute;
    width: 1442px;
    height: 1331px;
    left: 0px;
    top: 2404px;
    
    background: url(./img/bg/Rectangle\ 27\ \(1\).jpg);
    z-index: -12;
}

/* bg */